<div class="container">
  <h1>MAGAZINES</h1>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let mag of magazines">
          <h3> # {{mag.id}}</h3>
          <p><img src="{{mag.img}}" alt="{{mag.id}}"></p>
          <a class="preview btn btn-danger" [routerLink]=" ['./'+mag.id] ">Read</a>
        </li>
      </ul>
    </div>
  </div>
</div>
