<div class="container">
  <h1>MAGAZINE # {{magazine?.id}}</h1>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item">
          <iframe width="100%" height="600px" [src]="frame" style="border: 0;"></iframe>
        </li>
      </ul>
    </div>
  </div>
</div>
